@font-face {
  font-family: 'AvenirNextLTW01-Regular';
  src: url("../fonts/e9167238-3b3f-4813-a04a-a384394eed42.eot?#iefix");
  src: url("../fonts/e9167238-3b3f-4813-a04a-a384394eed42.eot?#iefix") format("eot"), url("/fonts/2cd55546-ec00-4af9-aeca-4a3cd186da53.woff2") format("woff2"), url("../fonts/1e9892c0-6927-4412-9874-1b82801ba47a.woff") format("woff"), url("../fonts/46cf1067-688d-4aab-b0f7-bd942af6efd8.ttf") format("truetype"), url("../fonts/52a192b1-bea5-4b48-879f-107f009b666f.svg#52a192b1-bea5-4b48-879f-107f009b666f") format("svg"); }
@font-face {
  font-family: "AvenirNextLTW01-Medium";
  src: url("../fonts/1a7c9181-cd24-4943-a9d9-d033189524e0.eot?#iefix");
  src: url("../fonts/1a7c9181-cd24-4943-a9d9-d033189524e0.eot?#iefix") format("eot"), url("/fonts/627fbb5a-3bae-4cd9-b617-2f923e29d55e.woff2") format("woff2"), url("../fonts/f26faddb-86cc-4477-a253-1e1287684336.woff") format("woff"), url("../fonts/63a74598-733c-4d0c-bd91-b01bffcd6e69.ttf") format("truetype"), url("../fonts/a89d6ad1-a04f-4a8f-b140-e55478dbea80.svg#a89d6ad1-a04f-4a8f-b140-e55478dbea80") format("svg"); }
@font-face {
  font-family: 'AvenirNextLTW01-Italic';
  src: url("../fonts/d1fddef1-d940-4904-8f6c-17e809462301.eot?#iefix");
  src: url("../fonts/d1fddef1-d940-4904-8f6c-17e809462301.eot?#iefix") format("eot"), url("/fonts/7377dbe6-f11a-4a05-b33c-bc8ce1f60f84.woff2") format("woff2"), url("../fonts/92b66dbd-4201-4ac2-a605-4d4ffc8705cc.woff") format("woff"), url("../fonts/18839597-afa8-4f0b-9abb-4a30262d0da8.ttf") format("truetype"), url("../fonts/1de7e6f4-9d4d-47e7-ab23-7d5cf10ab585.svg#1de7e6f4-9d4d-47e7-ab23-7d5cf10ab585") format("svg"); }
@font-face {
  font-family: 'AvenirNextLTW01-Demi';
  src: url("../fonts/12d643f2-3899-49d5-a85b-ff430f5fad15.eot?#iefix");
  src: url("../fonts/12d643f2-3899-49d5-a85b-ff430f5fad15.eot?#iefix") format("eot"), url("/fonts/aad99a1f-7917-4dd6-bbb5-b07cedbff64f.woff2") format("woff2"), url("../fonts/91b50bbb-9aa1-4d54-9159-ec6f19d14a7c.woff") format("woff"), url("../fonts/a0f4c2f9-8a42-4786-ad00-fce42b57b148.ttf") format("truetype"), url("../fonts/99affa9a-a5e9-4559-bd07-20cf0071852d.svg#99affa9a-a5e9-4559-bd07-20cf0071852d") format("svg"); }
@font-face {
  font-family: 'AvenirNextLTW01-DemiIta';
  src: url("../fonts/770d9a7e-8842-4376-9319-8f2c8b8e880d.eot?#iefix");
  src: url("../fonts/770d9a7e-8842-4376-9319-8f2c8b8e880d.eot?#iefix") format("eot"), url("/fonts/687932cb-145b-4690-a21d-ed1243db9e36.woff2") format("woff2"), url("../fonts/bc350df4-3100-4ce1-84ce-4a5363dbccfa.woff") format("woff"), url("../fonts/bc13ae80-cd05-42b4-b2a9-c123259cb166.ttf") format("truetype"), url("../fonts/4862b373-2643-46b1-b0b5-88537c52d15c.svg#4862b373-2643-46b1-b0b5-88537c52d15c") format("svg"); }
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%; }

* {
  font-family: "AvenirNextLTW01-Regular", sans-serif;
  line-height: 1.5;
  font-weight: normal; }

h1 {
  font-size: 2.5rem;
  line-height: 1.2; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.375rem; }

h4 {
  font-size: 1.125rem; }

h5 {
  font-size: 1rem; }

h6 {
  font-size: 0.875rem; }

p {
  font-size: 1.125rem;
  font-weight: "AvenirNextLTW01-Medium";
  line-height: 1.8; }

.font-light {
  font-weight: "AvenirNextLTW01-Regular"; }

.font-regular {
  font-weight: "AvenirNextLTW01-Medium"; }

.font-heavy {
  font-weight: 700; }

.left {
  text-align: left; }

.right {
  text-align: right; }

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto; }

.justify {
  text-align: justify; }

.hidden-sm {
  display: none; }

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto; }
  @media only screen and (min-width: 33.75em) {
    .container {
      width: 80%; } }
  @media only screen and (min-width: 60em) {
    .container {
      width: 75%;
      max-width: 60rem; } }

.row {
  position: relative;
  width: 100%; }

.row [class^="col"] {
  float: left;
  margin: 0.5rem 1.96%;
  min-height: 0.125rem; }

.row::after {
  content: "";
  display: table;
  clear: both; }

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 96%; }

.col-1-sm {
  width: 4.33333%; }

.col-2-sm {
  width: 12.66667%; }

.col-3-sm {
  width: 21%; }

.col-4-sm {
  width: 29.33333%; }

.col-5-sm {
  width: 37.66667%; }

.col-6-sm {
  width: 46%; }

.col-7-sm {
  width: 54.33333%; }

.col-8-sm {
  width: 62.66667%; }

.col-9-sm {
  width: 71%; }

.col-10-sm {
  width: 79.33333%; }

.col-11-sm {
  width: 87.66667%; }

.col-12-sm {
  width: 96%; }

@media only screen and (min-width: 45em) {
  .col-1 {
    width: 4.33333%; }

  .col-2 {
    width: 12.66667%; }

  .col-3 {
    width: 21%; }

  .col-4 {
    width: 29.33333%; }

  .col-5 {
    width: 37.66667%; }

  .col-6 {
    width: 46%; }

  .col-7 {
    width: 54.33333%; }

  .col-8 {
    width: 62.66667%; }

  .col-9 {
    width: 71%; }

  .col-10 {
    width: 79.33333%; }

  .col-11 {
    width: 87.66667%; }

  .col-12 {
    width: 96%; }

  .hidden-sm {
    display: block; } }
a {
  color: inherit; }

body {
  color: #736F66;
  font-family: 'AvenirNextLTW01-Medium'; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'AvenirNextLTW01-Demi';
  color: #004c67; }

@media only screen and (min-width: 60em) {
  h1, h2, h3 {
    margin-top: 4rem; } }

p {
  line-height: 1.6; }

ul li {
  font-size: 24px; }

header.platform {
  padding-top: 0.2rem;
  position: relative;
  background: #FFFFFF;
  z-index: 2; }
  header.platform img {
    width: 69px; }

.prototype-header {
  background: orange;
  border-bottom: 1px solid #D08600;
  text-align: center;
  padding: 0.25em; }
  .prototype-header p {
    color: #fff;
    margin-top: 0;
    margin-bottom: 0;
    max-width: inherit; }
  .prototype-header a {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px dotted #fff; }

.proposition {
  padding-top: 2rem; }
  .proposition > h2 {
    margin: 1rem 0 4rem 0;
    max-width: 600px; }
  .proposition p {
    max-width: 600px; }
  .proposition figure {
    margin: 0;
    padding: 0; }
    .proposition figure img {
      width: 100%; }
    .proposition figure figcaption {
      font-size: 0.6rem; }

.tagline, .banner header.row p, div.cta section p {
  color: white;
  font-weight: 'AvenirNextLTW01-Medium';
  max-width: 600px; }
  @media only screen and (min-width: 60em) {
    .tagline, .banner header.row p, div.cta section p {
      font-size: 1.8rem;
      line-height: 1.4; } }

.button, div.cta section {
  margin: 2rem 0 4rem 0; }
  .button a, div.cta section a, .button label, div.cta section label {
    display: inline-block;
    background: #FFFFFF;
    padding: 1.2rem 1.4rem;
    color: #149865;
    font-family: 'AvenirNextLTW01-Demi';
    border-radius: 0.5em;
    text-decoration: none; }
    .button a:hover, div.cta section a:hover, .button label:hover, div.cta section label:hover {
      color: #083e29; }

.background-plate, .banner header.row .col-3:before, .colophon .cta:before, .green-mission:before {
  border-radius: 0.2rem;
  z-index: -1;
  content: '';
  position: absolute;
  display: block;
  width: calc(100% + 2rem);
  height: calc(100% + 2rem);
  top: -1rem;
  left: -1rem;
  right: -1rem; }

.banner {
  background: #00729a;
  color: #FFFFFF; }
  @media only screen and (min-width: 45em) {
    .banner {
      padding: 0 0 3rem 0; } }
  .banner header.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .banner header.row h1 {
      color: #FFFFFF;
      line-height: 1.2; }
      @media only screen and (min-width: 60em) {
        .banner header.row h1 {
          margin-top: 4.4rem;
          font-size: 72px;
          line-height: 1.2;
          width: 90%; } }
    .banner header.row .col-3 {
      display: inline-table;
      position: relative;
      z-index: 1;
      padding: 1rem 0 0 0; }
      @media only screen and (max-width: 45em) {
        .banner header.row .col-3 {
          width: auto;
          background: #FFFFFF;
          padding: 1rem;
          border-radius: 0.2rem; }
          .banner header.row .col-3:before {
            top: 0;
            left: 0;
            right: 0;
            width: 0;
            height: 0; } }
      @media only screen and (min-width: 45em) {
        .banner header.row .col-3 {
          -webkit-box-ordinal-group: 3;
              -ms-flex-order: 2;
                  order: 2;
          padding: 1rem 0 0 0;
          margin-top: 4rem; } }
      .banner header.row .col-3:before {
        background: #FFFFFF; }
      .banner header.row .col-3 img {
        max-width: 100%;
        width: 100%; }
        @media only screen and (max-width: 45em) {
          .banner header.row .col-3 img {
            max-width: 6rem; } }

.headlines {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

@media only screen and (min-width: 45em) {
  .steps {
    margin-bottom: 8rem; } }
.steps img {
  width: 200px; }
@media only screen and (min-width: 45em) {
  .steps h3 {
    margin-top: 2rem; } }
.steps p {
  font-size: 1.2rem; }

.colophon {
  margin-bottom: 2rem; }
  @media only screen and (max-width: 45em) {
    .colophon {
      padding: 1rem;
      width: auto;
      position: relative;
      top: -0.5rem; } }
  @media only screen and (min-width: 45em) {
    .colophon {
      -webkit-box-ordinal-group: 11;
          -ms-flex-order: 10;
              order: 10; } }
  .colophon p {
    font-size: 14px;
    max-width: 160px; }
  .colophon span {
    display: block;
    font-size: 0.8rem;
    margin-bottom: 0.4rem; }
  .colophon span.inline {
    display: inline; }
  .colophon .cta {
    color: #FFFFFF;
    position: relative;
    padding: 0;
    margin-bottom: 4rem; }
    .colophon .cta progress {
      position: relative;
      -webkit-transform: rotate(-90deg);
              transform: rotate(-90deg);
      -webkit-transform-origin: right;
              transform-origin: right;
      top: 0;
      right: 1rem; }
      .colophon .cta progress::before {
        z-index: 1;
        position: absolute;
        right: 0;
        width: 1rem;
        height: 1rem;
        content: attr(max);
        text-align: center;
        font-size: 0.8rem;
        -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
        border-radius: 100%; }
    .colophon .cta p.pledges {
      display: inline-block;
      font-size: 1.8rem;
      margin: 0; }
      .colophon .cta p.pledges .count {
        line-height: 1;
        text-indent: -0.4rem; }
    .colophon .cta span.sub-count {
      font-size: 1.4rem; }
    .colophon .cta:before {
      background: #149865; }
    .colophon .cta .button, .colophon div.cta section {
      font-size: 1.2rem;
      margin-bottom: 2rem; }
      .colophon .cta .button a, .colophon div.cta section a {
        padding: 1rem 1.5rem; }

h2 {
  line-height: 1.2; }
  @media only screen and (min-width: 60em) {
    h2 {
      font-size: 36px;
      line-height: 1.4; } }

@media only screen and (min-width: 60em) {
  p {
    font-size: 24px; } }

table {
  position: relative;
  z-index: -1;
  width: calc(100% + 4rem);
  border-radius: 0.2rem;
  text-align: left;
  background: #FFFFFF;
  position: relative;
  padding: 2rem;
  left: -2rem; }
  table thead tr td, table tbody tr td {
    width: 20%; }
  table thead tr {
    border-bottom: 1px solid #F3F3F3; }
    table thead tr th {
      padding-bottom: 1.4rem; }
  table tr {
    vertical-align: baseline; }
    table tr th span {
      border-bottom: 1px solid #149865;
      padding-bottom: 0.4rem; }
  table td {
    padding: 0.4rem 0; }
    table td.highlight span {
      color: #3d3b36;
      position: relative;
      z-index: 0; }
      table td.highlight span:before {
        z-index: -1;
        content: '';
        position: absolute;
        top: -0.4rem;
        left: -0.4rem;
        width: calc(100% + 0.8rem);
        height: calc(100% + 0.8rem);
        background: #149865; }

.green-mission {
  position: relative; }
  .green-mission:before {
    background: rgba(20, 152, 101, 0.1); }

.cause-story {
  background: #F3F3F3;
  overflow: hidden;
  border-radius: 0.2rem;
  padding: 2rem; }
  .cause-story .col-2 {
    background: #FFFFFF;
    padding: 1rem 0.2rem;
    border-radius: 0.2rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .cause-story blockquote {
    position: relative;
    background: #9F4D73;
    color: #FFFFFF;
    padding: 0.2rem 2rem;
    margin: 0;
    border-radius: 0.2rem; }
    .cause-story blockquote p {
      max-width: 380px;
      font-size: 1.6rem; }
    .cause-story blockquote:before {
      position: absolute;
      content: '';
      width: 1rem;
      height: 1rem;
      display: block;
      top: 3rem;
      left: -0.5rem;
      background: #9F4D73;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg); }

@media only screen and (min-width: 60em) {
  section.answer {
    position: relative;
    padding: 0 0 4rem 0;
    margin: 4rem 0; }
    section.answer:before {
      z-index: -2;
      content: '';
      background: rgba(92, 233, 179, 0.5);
      position: absolute;
      display: block;
      width: calc(100% + 8rem);
      height: 100%;
      top: 0;
      bottom: 0;
      left: -4rem;
      border-radius: 0.2rem; } }
section.answer h1, section.answer h2 {
  color: #05271a; }
  @media only screen and (max-width: 60em) {
    section.answer h1, section.answer h2 {
      padding-top: 0; } }
section.answer .bulb-step img {
  width: 48px; }
section.answer .bulb-step h3 {
  margin-top: 1rem;
  color: #05271a;
  margin-bottom: 0; }
section.answer .bulb-step p {
  margin-top: 0;
  font-size: 1rem; }
section.how-it-works {
  margin-bottom: 2rem; }
  section.how-it-works h1 {
    color: #05271a; }
    @media only screen and (max-width: 60em) {
      section.how-it-works h1 {
        padding-top: 0; } }
  section.how-it-works .row:nth-of-type(2) {
    margin: 2rem 0 0 0; }
  section.how-it-works p {
    font-size: 1rem; }
  section.how-it-works svg.lightbulb {
    position: absolute;
    left: calc(50% - 16px);
    top: -19px; }
  section.how-it-works .bulb-step {
    position: relative;
    padding-top: 3em;
    margin-bottom: 4rem; }
    @media only screen and (min-width: 60em) {
      section.how-it-works .bulb-step {
        margin-bottom: 2rem; } }
    section.how-it-works .bulb-step .bulb-number {
      position: absolute;
      z-index: 2;
      top: -26px;
      left: 0;
      width: 48px;
      margin-top: 0;
      margin-bottom: 0;
      text-align: left;
      color: #05271a;
      font-size: 1.5em;
      text-align: center; }
    section.how-it-works .bulb-step img {
      position: absolute;
      width: 48px;
      top: -31px;
      left: 0; }
    section.how-it-works .bulb-step .step-description {
      margin-top: 0; }
      section.how-it-works .bulb-step .step-description h3 {
        font-size: 1.3em;
        color: #05271a;
        margin-top: 0; }

div.cta {
  color: #FFFFFF;
  background: #149865;
  margin: 2rem 0 0 0; }
  @media only screen and (min-width: 60em) {
    div.cta {
      padding: 2rem 0;
      margin: 4rem 0 0 0; } }
  div.cta section h1, div.cta section h2 {
    color: #FFFFFF; }

footer {
  background: #3d3b36;
  color: #FFFFFF; }
  footer .colophon {
    padding: auto 0 0 0; }
    @media only screen and (min-width: 45em) {
      footer .colophon {
        padding-top: 0; } }
  @media only screen and (min-width: 60em) {
    footer {
      margin: 0;
      padding: 4rem 0; }
      footer img:nth-of-type(1) {
        margin-bottom: 2.4rem; } }
  footer p {
    font-size: 1rem;
    color: #FFFFFF;
    max-width: 460px; }

img {
  max-width: 100%; }
  img.counter {
    width: 100%;
    height: 20px; }

.pledges {
  margin-bottom: 0; }
  .pledges .count {
    font-size: 5.8rem; }

.required-pledges {
  display: block;
  margin-top: 0;
  text-align: right;
  opacity: 0.5; }

progress[value] {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 100%;
  height: 1rem; }
  progress[value]::-webkit-progress-bar {
    background: #0e6b47;
    border-radius: 0.4rem; }
  progress[value]::-moz-progress-bar {
    background: #0e6b47;
    border-radius: 0.4rem; }
  progress[value]::-webkit-progress-value {
    background: #FFFFFF;
    border-radius: 0.4rem; }
  progress[value]::-moz-progress-value {
    background: #FFFFFF;
    border-radius: 0.4rem; }

.background-photo {
  width: 100%;
  height: 500px;
  background-position: center;
  background-size: cover; }
  @media only screen and (min-width: 45em) {
    .background-photo {
      height: 500px; } }

body.pledge {
  padding: 2rem 0;
  margin-bottom: 4rem;
  background: #149865; }
body.thanks {
  padding: 2rem 0;
  margin-bottom: 4rem;
  background: #00729a; }

section.modal-layout {
  max-width: 600px;
  padding: 2.4rem;
  background: #FFFFFF;
  margin: 0 auto 4rem auto;
  border-radius: 0.2rem; }
  section.modal-layout h1 {
    margin-top: 0.8rem; }
    @media only screen and (min-width: 45em) {
      section.modal-layout h1 {
        font-size: 2.8rem; } }
  section.modal-layout label {
    width: 100%;
    display: inline-block;
    font-family: 'AvenirNextLTW01-Demi'; }
  section.modal-layout label, section.modal-layout p, section.modal-layout ul li {
    font-size: 1.2rem; }
  section.modal-layout input:not([type="checkbox"]) {
    display: block;
    margin: 1rem 0 2rem 0;
    font-size: 1.8rem;
    color: #736F66;
    padding: 0.4rem; }
  section.modal-layout button.confirm-button {
    background: #149865;
    color: #FFFFFF;
    border: none;
    font-size: 1.8rem;
    margin: 2rem 0 4rem 0;
    display: inline-block;
    padding: 1.2rem 1.4rem;
    font-family: 'AvenirNextLTW01-Demi';
    border-radius: 0.5em;
    text-decoration: none; }
  section.modal-layout p.button a {
    background: #149865;
    color: #FFFFFF;
    font-size: 1.8rem; }

header.example-banner {
  background: #7d3c5a;
  color: #FFFFFF; }
  header.example-banner p {
    font-size: 1rem; }
