---
title: Swinton Fitzwilliam’s Green Energy Switch
---

<div class="banner">
  <div class="container">
    <header class="row">
      <div class="col-3">
        <%= image_tag "fitz.jpg", class: "" %>
      </div>
      <div class="col-9">
        <h1>We’re on a mission to get Mexbourough to switch to renewables</h1>
        <p>Swinton Fitzwilliam’s Green Energy Switch!</p>
      </div>
    </header>
  </div>
</div>

<div class="container">
  <div class="row headlines">
    <div class="col-3 colophon">
      <span>Supported by</span>
      <%= image_tag "power-pack-supported.svg", class: "" %>
    </div>
    <div class="col-9 proposition">
      <h2>Progress so far</h2>
      <p>3 years ago we installed solar panels on the roof to power our school. These panels, along with our batteries, mean we now benefit from up to 40,000kWh free, renewable electricity each year.</p>

      <p>This July, we’re calling out to parents to pledge to change how they buy their home’s electricity.</p>

      <p>If 100 families pledge, we’ll reduce Mexborough’s carbon consumption by around 100 tonnes each year - that’s equivalent to taking 19 cars off the road!</p>

      <p>Together, we can help ensure we no longer need to burn fossil fuels.</p>
    </div>
  </div>
</div>
<div class="cta">
  <div class="container">
    <section class="row">
      <div class="col-8">
        <h1>Pledge</h1>

        <p>It’s incredibly easy to pledge and because it’s good for the planet it’ll be the last switch you'll need to do.</p>

        <p class="button"><a href="#">Pledge now</a> 42 / 100 pledges</p>
      </div>
    </section>
  </div>
</div>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-9">
        <p>Power Pack is a community of people on a mission to power Britain purely by renewables.</p>
        <p>Switching to a green energy provider is the first, simple step you can take on this mission.</p>
      </div>
      <div class="col-3 colophon">
        <span>Supported by</span>
        <%= image_tag "power-pack-supported-reverse.svg", class: "" %>
      </div>
    </div>
  </div>
</footer>
