<% wrap_layout :layout do %>

<h1>Switch to a green energy company</h1>

<p>Fill in your contact details so that Power Pack can call you and take care of your switch.</p>

<form action="#" method="post">
  <label>Your full name</label>
  <input type="text" name="" value="" required>

  <label>Your telephone number</label>
  <input type="text" name="" value="" required>
  <p>If you know the name of your energy company then fill it in. If you don’t know it, it’s OK to leave this blank.</p>
  <label for="">Your current supplier</label>
  <input type="text" name="" value="">

  <p>Please confirm that you agree to Power Pack calling you to arrange your switch Switching to a green 100% renewable energy company [school name] receiving a payment of [amount]</p>

  <label>
    <input type="checkbox">
    I confirm that I am happy for Power Pack to call me and switch me to a green energy provider, and for [school] to receive a payment from Power Pack for referring me to this scheme. [tick box]
  </label>
  <button type="button" name="button">Pledge!</button>
</form>

<% end %>
