<section class="modal-layout">
  <h1>Move to a green energy company</h1>

  <p>Fill in your contact details so that a Co-op Hero can call you and move you to a green energy company.</p>

  <form action="https://docs.google.com/a/coopdigital.co.uk/forms/d/15-kMyrDi03EVF9jHU3yZojB0oBxw7KJ6implBOefcyw/formResponse" method="post">
    <label>Your full name</label>
    <input type="text" name="entry.2139203857" value="" required>

    <label>Your telephone number</label>
    <input type="text" name="entry.27863669" value="" required>
    <label for="">Your current supplier</label>
    If you know the name of your energy company then fill it in. If you don’t, it’s OK to leave this blank.
    <input type="text" name="entry.1407955079" value="">

    <p>Please confirm that you agree to</p>
    <ul>
      <li>a Co-op Hero calling you to arrange your move to a green energy company</li>
      <li>changing your energy supplier to a green energy company
      <li>your school receiving a £25 thank-you payment</li>
    </ul>

    <label>
      <input type="checkbox">
      I confirm that I am happy for a Co-op Hero to call me and change my supplier to a green energy company, and for my school to receive a payment from Co-op for referring me to this scheme.
    </label>
    <button class="confirm-button" type="submit">Confirm</button>
  </form>

  <h2>What we do with the information you give us</h2>

  <p>You are asked for your name and telephone number and the name of your current energy company (if you know it). This is so someone from Co-op can call you and arrange your switch to a green energy company.</p>

  <p>Co-op will keep these details secure and private and only share them with the green energy company they pick for you.</p>

</section>
