<section class="modal-layout">
  <h1>Thank you</h1>
  <p>You’ve joined all the other families who are moving to green energy.</p>

  <p>And you’ve brought your school one step closer to their goal!</p>

  <h2>One last thing before you go</h2>
  <p>We want as many people to move to green energy as possible, so please share this link with your family and friends.</br>
  <a href="https://switch.powerpack.org.uk/tottington/">switch.powerpack.org.uk/tottington/</a></p>

</section>
