<section class="modal-layout">
  <h1>Thank you</h1>
  <p>You’ve joined all the other families who have pledged to switch to a green energy company.</p>

  <p>And you’ve brought us one step closer to our goal!</p>

  <p><strong>One last thing before you go</strong></p>
  <p>We want as many people to take part in Power Pack's green switch as possible, so please share with your family and friends.</p>

</section>
